* {
  margin: 0;
}

/* drop down styling */
.app {
  height: 100vh;
  background: radial-gradient(red, cyan, blue);
}

/* main heading  */
.mainHeading h1 {
  margin: auto;
  width: 10%;
  text-align: center;
  background-color: #ff4710;
  position: relative;
  border-radius: 10%;
  color: white;
}

/* main heading tooltip */
.toolTipCreaterForHeading {
  visibility: hidden;
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  background-color: #0c7bfe;
  color: white;
  font-size: xxx-large;
  border-radius: 80px;
  position: absolute;
  text-align: center;
}

/* when hover the heading the tootl tip work */
.mainHeading:hover .toolTipCreaterForHeading {
  visibility: visible;
}
